.drag-column-table {
  position: relative;
  .ant-table-thead {
    user-select: none;
    .ant-table-cell {
      white-space: nowrap;
      &.hover-active {
        background-color: #f0f0f0;
      }
      &.ant-table-cell-scrollbar {
        opacity: 0;
      }
    }
  }
}
.custom-drag-layer,
.ant-table-cell {
  .drag-item {
    display: flex;
    align-items: center;
  }
}
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize !important;
  z-index: 1;
}

.react-resizable-grid-proxy {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: gray;
  opacity: 0.3;
  border: solid 1px black;
  z-index: 100000000;
  box-sizing: border-box;
  display: none;
}

::-webkit-scrollbar {
  width: 5px; /* 纵向滚动条*/
  height: 5px; /* 横向滚动条 */
  background-color: #dddddd;
}
/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #fff;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #d5d5d5;
  border-radius: 5px;
}
